/* =========================
   MAIN CONTENT
========================= */

.main-content {

    margin-left: 240px;

    padding: 90px 25px 30px;

    min-height: 100vh;
}


/* =========================
   VIDEO GRID
========================= */

.video-grid {

    display: grid;

    grid-template-columns:
        repeat(4, minmax(0, 1fr));

    gap: 35px 18px;
}


